* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ced4da;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav {
  margin-bottom: 15px;
}
h1 {
  font-size: 40px;
}
textarea {
  width: 380px;
  resize: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
}
footer {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  height: 30px;
  background-color: #15aabf;
  margin-left: 1px;
  padding: 0px 5px;
  border-radius: 5px;
  list-style: none;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul li {
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
}
button {
  height: 30px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  font-size: 20px;
  border: none;
  background-color: #228be6;
  color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.6);
}
audio {
  display: none;
}
button:disabled {
  filter: brightness(70%);
}
/* responsive */
@media (max-width: 412px) {
  h1 {
    font-size: 30px;
  }
  textarea {
    width: 350px;
  }
  button {
    width: 100px;
    height: 50px;
  }
}
